<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        {% if data %}
        <H1>States</H1>
        <UL>
            {% for state in data %}
                <LI>{{ state.id }}: <B>{{ state.name }}</B></LI>
            {% endfor %}
        </UL>
        {% elif state_city %}
        <h1>State: {{ state_city.name }}</h1>
        <H3>Cities:</H3>
        <ul>
            {%- for city in state_city.cities %}
            <li>{{ city.id }}: <B>{{ city.name }}</B></li>
            {% endfor %}
        </ul>
        {% elif state_city == None %}
        <h1>Not found!</h1>
        {% endif %}
    </BODY>
</HTML>
